{% extends "includes/base.html" %}
{% load static %}
{% load common %}



        
{% block content %}


<!-- Start: Content section -->
<section class="bg-secondary bg-opacity-75 min-vh-100">
    <div class="d-flex justify-content-center align-items-center d-print-flex">
        <div class="container my-5 pb-5 print-padding">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center mt-4 mt-xl-5">
                    <div class="bg-body border rounded border-0 p-4 p-md-5 print-padding position-relative animate__animated animate__slower animate__zoomIn">

                        {% url 'common:home' as href %}
                        {% include "includes/indicator_close_button.html" with data="about me" href=href %}
                        
                        <div class="row d-flex">
                            <div class="col-lg-9 d-flex align-items-center d-print-none">
                                <div class="flex-fill">
                                    <h2 class="text-uppercase fs-5 fw-bold mb-2">Hello,</h2>
                                    <p class="fs-5 fw-bolder lh-sm text-justify text-uppercase">I am {{profile.profile_name}} {{profile.profile_title}}.</p>
                                    <p class="fs-5 fw-normal lh-sm text-justify">{{profile.career_summary}}</p>
                                </div>
                            </div><!-- Start: for printing display -->
                            <div class="col d-none d-print-block">
                                <div class="d-flex justify-content-between align-items-end">
                                    <img src="{{profile.about_picture}}" width="120px" height="auto" alt="{{profile.profile_name}}">
                                    <div class="text-end">
                                        <h2 class="text-uppercase fs-3 fw-bold">{{profile.profile_name}}</h2>
                                        <p class="fs-6 fw-bold lh-sm m-0 border-bottom border-bottom-1 border-primary text-uppercase">{{profile.profile_title}}</p>
                                        <p class="fs-6 fw-bold lh-sm m-0">{{profile.email}}</p>
                                    </div>
                                </div>
                                <div>
                                    <p class="fs-6 fw-normal lh-sm text-justify text-muted">{{profile.career_summary}}</p>
                                </div>
                            </div><!-- End: for printing display -->
                            <div class="col-lg-3 d-flex justify-content-center align-items-center d-print-none">
                                <div class="d-flex flex-fill justify-content-center align-items-center">
                                    <button class="btn btn-secondary d-print-none printButton text-center position-absolute end-0 my-4 rounded-end-0" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-printer fs-3">
                                            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"></path>
                                            <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"></path>
                                        </svg>
                                    </button>
                                    <img class="img-fluid p-4 specialeffectImage magic-hover" width="80%" height="auto" alt="{{ profile.profile_name }}" loading="lazy" src="{{profile.about_picture}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 bg-info mt-5 border rounded-5 border-0">
                            <div class="row gx-3 d-flex justify-content-center align-items-start">
                                <div class="col-md-8">
                                    <div class="row gx-3 gy-3 d-flex justify-content-center align-items-center">
                                        <div class="col-12 d-flex justify-content-center align-items-center">
                                            <!-- Start: My Experiences -->
                                            <div class="card bg-success-subtle border-success flex-fill w-100 rounded-4">
                                                <div class="card-body position-relative my-background-pic">
                                                    <h5 class="text-uppercase fs-5 fw-bolder text-primary card-title side-block-title">My Experiences:&nbsp;</h5>
                                                    <div>
                                                        <ul class="fs-6 fw-light text-info lh-sm">
                                                            {% for experience in experiences %}
                                                            <li>
                                                                <span class="fw-bold">{{ experience.responsibility_or_designation }} || </span>
                                                                <span class="fw-normal text-justify">{{ experience.company_or_workplace }} </span>
                                                                <div>
                                                                    <span class="fw-normal text-secondary">{{ experience.get_experience_type_display  }} From {{ experience.worked_from|date:"M Y" }} to {% if experience.currently_working_or_not %}Present{% else %}{{ experience.worked_from|date:"M Y" }}{% endif %}</span>
                                                                </div>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!-- End: My Experiences -->
                                        </div>
                                        <div class="col-12 d-flex justify-content-center align-items-center">
                                            <!-- Start: What I do -->
                                            <div class="card bg-secondary-subtle border-secondary flex-fill rounded-4">
                                                <div class="card-body position-relative">
                                                    <h5 class="text-uppercase fs-5 fw-bolder text-primary card-title side-block-title">What I Do:</h5>
                                                    <div>
                                                        <ul class="fs-6 fw-light text-info lh-sm">
                                                            {% for service in services %}
                                                            <li class="text-justify">
                                                                <span class="fw-bold">{{service.title}}:&nbsp;</span>
                                                                <span class="fw-normal text-justify">{{service.summary}}</span>
                                                            </li>
                                                            {% endfor %}                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!-- End: What I do -->
                                        </div>
                                        <div class="col-12 d-flex justify-content-center align-items-center">
                                            {% include "includes/learning_curves.html" %}
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row gx-3 gy-3 d-flex justify-content-center align-items-center">
                                        <div class="col-12 d-flex justify-content-center align-items-center d-print-none">
                                            <div class="card bg-light-subtle border-light text-center w-100 rounded-4">
                                                <div class="card-body text-dark">
                                                    <h2 class="fw-bolder card-title fs-1x">+{{profile.years_of_experience}}</h2>
                                                    <p class="text-uppercase fs-5 fw-bold card-text lh-sm" style="font-family: Aldrich, sans-serif;">years Experience</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center align-items-center d-print-none">
                                            <div class="card bg-warning-subtle border-warning text-center w-100 rounded-4">
                                                <div class="card-body text-primary">
                                                    <h2 class="fw-bolder card-title fs-1x">+{{profile.number_of_industries_works}}</h2>
                                                    <p class="text-uppercase fs-5 fw-bold card-text lh-sm" style="font-family: Aldrich, sans-serif;">heavy industries</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center align-items-center d-print-none">
                                            <div class="card bg-info-subtle border-info text-center w-100 rounded-4">
                                                <div class="card-body text-secondary">
                                                    <h2 class="fw-bolder card-title fs-1x">+{{profile.number_of_clients}}</h2>
                                                    <p class="text-uppercase fs-5 fw-bold card-text lh-sm" style="font-family: Aldrich, sans-serif;">global clients</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center align-items-center">
                                            <div class="card bg-danger-subtle w-100 rounded-4">
                                                <div class="card-body text-secondary">
                                                    <h2 class="fs-5 fw-bolder card-title side-block-title">Skills And Tools</h2>
                                                    <ul class="list-inline text-capitalize fs-5 lh-sm">
                                                        {% for skill in skills %}
                                                        <li class="list-inline-item text-capitalize fs-6 fw-semibold text-wrap text-start text-info badge bg-light text-primary rounded-2 d-inline-block float-start m-1">
                                                            {{skill.name}}
                                                            <div class="d-print-none">
                                                                <div class="progress">
                                                                    <div class="progress-bar progress-bar-striped" aria-valuenow="{{skill.skill_percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.skill_percent}}%;">
                                                                        <span class="visually-hidden">{{skill.skill_percent}}%</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        {% endfor %}

                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center align-items-center">
                                            <div class="card bg-light-subtle border-light w-100 rounded-4">
                                                <div class="card-body text-primary">
                                                    <h2 class="fs-5 fw-bolder card-title side-block-title">LANGUAGES</h2>
                                                    <ul class="fs-5 lh-sm">
                                                        {% for ln in profile.languages %}
                                                        <li class="fw-bold">{{ln}}</li>
                                                        {% endfor %}                                                       
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center align-items-center">
                                            <div class="card bg-secondary-subtle border-secondary w-100 rounded-4">
                                                <div class="card-body text-info">
                                                    <h2 class="fs-5 fw-bolder card-title side-block-title">INTERESTS</h2>
                                                    <ul class="fs-5 lh-sm">
                                                        {% for int in profile.interest %}
                                                        <li>{{int}}</li>
                                                        {% endfor %}
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center align-items-center d-print-none">
                                            <div class="card bg-success-subtle border-success w-100 rounded-4">
                                                <div class="card-body text-info m-0 p-0"><button class="btn btn-success btn-lg fs-3 p-4 w-100 rounded-4 printButton link-secondary" type="button">Print Resume</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End: Content section -->

{% endblock %}
