<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-overlayscrollbars-initialize>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% include "includes/meta.html" %}
    {% include "includes/toplinks.html" %}  
    <style>
        .circle:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url({{profile.extra_images.icon256}});
            background-size: cover;
            background-position: center;
          }
    </style>

</head>

<body >
    <!-- Start: Webpage Loader Before window ready -->
    <div id="loader" class="d-print-none loader-overlay">
        <div class="loader">
            <div class="circle"></div>
        </div>
    </div>
    <!-- End: Webpage Loader Before window ready -->
    <main id="main" class="main vw-100 m-0 d-block">
        {% include "includes/header.html" %}

        {% block content %}
        {% endblock %}

        {% include "includes/footer.html" %}
        {% include "includes/megamenufromtop.html" %}       
    </main>
    {% include 'includes/scripts.html' %}
</body>
</html>