{% load static%}
<meta name="google-adsense-account" content="{{gpa}}">
<title>{{profile.profile_name}} || {{profile.meta_title}}</title>
<meta name="description" content="{{ profile.meta_description }}">
<meta name="author" content="{{ profile.profile_name }}">
<meta name="category" content="personal website">
<meta name="theme-color" content="#a6034f">
<link rel="canonical" href="{{ request.build_absolute_uri  }}">

<meta name="twitter:title" content="{{profile.profile_name}} || {{profile.meta_title}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{profile.meta_image}}">
<meta name="twitter:description" content="{{profile.meta_description}}">
<meta property="twitter:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:site" content="@haradhansharma">
<meta name="twitter:creator" content="@haradhansharma"> 


<meta property="og:title" content="{{profile.profile_name}} || {{profile.meta_title}}">
<meta property="og:image" content="{{profile.meta_image}}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{profile.meta_description}}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">

<link rel="manifest" href="{% url 'manifest' %}">

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "{{profile.profile_name}}",
        "url": "{{profile.home_url}}"
    }
</script>

<link rel="icon" href="{{profile.favicon}}" type="image/x-icon">
<link rel="icon" type="image/png" sizes="16x16" href="{{profile.extra_images.icon16}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{profile.extra_images.icon32}}">
<link rel="icon" type="image/png" sizes="64x64" href="{{profile.extra_images.icon64}}">
<link rel="icon" type="image/png" sizes="128x128" href="{{profile.extra_images.icon128}}">
<link rel="icon" type="image/png" sizes="256x256" href="{{profile.extra_images.icon256}}">
<link rel="icon" type="image/png" sizes="512x512" href="{{profile.extra_images.icon512}}">

