{% load static %}
{% include "include/head.html" %}
{% include "include/header.html" %}
<body> 
    {% block content %}

<section id="services" class="services section-show">
    <div class="container">     
      <div class="my-3">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>  
      <div class="section-title">
        <h2>Experience</h2>
        <p>{{experience.title}}</p>
      </div>  
      <div class="row"> 
        <div class="col-12 mt-4">
          <div class="col-12 icon-box">           
            <p>{{experience.responsibilities|safe}}</p>           
          </div>
        </div>       
      </div>
    </div>
  </section>

  {% endblock %}
  
</body>
{% include "include/foot.html" %}
</html>
