<div class="col-12 rounded-5 mt-0 mb-3">
    <h5>Copy And Share</h5>
    {% with shareurl=request.build_absolute_uri %}                                         
    <code class="fs-5 folio-code text-light">
        <span class="copyEl">{{shareurl}}</span>
        <button class="btn btn-outline-light copy-button"><i class="la la-copy"></i></button>
    </code>
    <div class="embed-code d-flex justify-content-between folio-code">
        <textarea class="embed-textarea fs-5 folio-code w-100 text-light mb-0" rows="4" cols="50">&lt;iframe src="{{ shareurl }}" width="600" height="400" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;</textarea>
        <button class="btn btn-outline-light rounded-5 copy-embed-button ms-2"><i class="la la-copy"></i></button>
    </div>
    <div class="alert copyalert" style="display: none;"></div>
    {% endwith %}                                             

</div>