{% extends "includes/base.html" %}
{% load static %}
{% load common %}

        
    {% block content %}
   <!-- Start: Content section -->
   <section class="bg-success bg-opacity-75 min-vh-100">
    <div class="d-flex justify-content-center align-items-center">
        <div class="container my-5 pb-5" style="opacity: 1;"> 
            <div class="row">
                <div class="col-12 mt-4 mt-xl-5">
                    <div class="text-light bg-body border rounded border-0 p-4 p-md-5 position-relative animate__animated animate__slower animate__zoomIn">

                        {% url 'common:home' as href %}
             
                        {% include "includes/indicator_close_button.html" with data=indicator href=href %}
 

                        
                        <div class="row d-flex">
                            <div class="col-lg-8 d-flex align-items-center">
                                <div class="flex-fill">
                                    <h2 class="text-uppercase fs-3 fw-bold mb-3">{{profile.blog_page_title}}</h2>
                                    <p class="fs-5 fw-normal lh-sm text-justify">{{ profile.blog_page_description }}</p>
                                    <!-- Start: Search Form -->
                                    <form method="GET">
                                        <div class="input-group">
                                            <input name="q" class="form-control" type="text" placeholder="Search senses with any text in the title and body" value="{{ request.GET.q }}">
                                            <button class="btn btn-light" type="submit">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-search">
                                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </form>
                                    <!-- End: Search Form -->
                                </div>
                            </div>
                            <div class="col-lg-4 d-flex">
                                <div class="d-none d-lg-flex flex-fill magic-hover specialeffectImage">
                                    <img class="img-fluid" src="{{ profile.blog_page_picture.url }}" width="100%" height="auto" alt="{{profile.meta_title}}" loading="lazy">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 bg-info mt-5 border rounded-5 border-0">
                            <div class="row gx-3 gy-3 p-0 p-md-4 p-lg-5">
                                {% if page_obj %}
                                    {% for blog_post in page_obj %} 
                                    <div class="col-md-6 d-flex flex-fill mt-0 mb-3">
                                        {% bg_class as class_dict %}
                                        <div class="card {{ class_dict.bgcolor }} {{ class_dict.bordercolor }} {{ class_dict.textcolor }} flex-fill w-100 rounded-5 cardeffectEx">
                                            <img class="img-fluid card-img-top w-100 d-block p-3 rounded-5" src="{{ blog_post.thumbnail_image.url }}" loading="lazy" width="auto" height="auto" alt="{{blog.title}}">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center py-2">
                                                    <p class="text-uppercase fs-5 lh-sm mb-0">{{ blog_post.created_at|date }}</p>
                                                    <div class="d-flex">
                                                        <a class="text-capitalize fs-5 text-decoration-none badge {{ class_dict.linkcolor }} {{ class_dict.linkbgcolor }} p-2 rounded-5" href="{{ blog_post.category.get_absolute_url }}">{{ blog_post.category.title }}</a>
                                                    </div>
                                                </div>
                                                <h5 class="fs-5 fw-bolder card-title py-2">{{ blog_post.title|truncatechars:80 }}</h5>
                                            </div>
                                            <div class="card-footer {{ class_dict.linkbgcolor }} rounded-bottom-5">
                                                <a class="d-flex justify-content-between p-2 magic-hover text-decoration-none {{ class_dict.linkcolor }}" href="{{ blog_post.get_absolute_url }}">
                                                    <p class="text-capitalize fs-5 lh-sm mb-0">Read more</p>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-box-arrow-in-right">
                                                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"></path>
                                                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                <div class="col-md-6 d-flex flex-fill mt-0 mb-3">
                                    {% bg_class as class_dict %}
                                    <div class="card {{ class_dict.bgcolor }} {{ class_dict.bordercolor }} {{ class_dict.textcolor }} flex-fill w-100 rounded-5 cardeffectEx">
                                        <div class="card-body">
                                            <h5 class="fs-5 fw-bolder text-uppercase card-title py-2">No Blog Posts Found!</h5>   
                                        </div>
                                        <div class="card-footer {{ class_dict.linkbgcolor }} rounded-bottom-5">
                                            <a class="d-flex justify-content-between p-2 magic-hover text-decoration-none {{ class_dict.linkcolor }}" href="{{href}}">
                                                <p class="text-capitalize fs-5 lh-sm mb-0">Go To Home</p>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-box-arrow-in-right">
                                                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"></path>
                                                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                               

                               
                            </div>
                        </div>
                        {% include "includes/pagination.html" with page_obj=page_obj %}
                        {% include "includes/share_code.html" %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section><!-- End: Content section -->
{% endblock %}

   