{% extends "includes/base.html" %}
{% load static %}
{% load common %}



        
{% block content %}

        <!-- Start: content section -->
        <section class="bg-secondary min-vh-100">
            <div class="d-flex justify-content-center align-items-center">
                <div class="container my-5 pb-5">
                    <div class="row">
                        <div class="col-12 mt-4 mt-xl-5">
                            <div class="bg-body border rounded border-0 p-4 p-md-5 position-relative animate__animated animate__slower animate__zoomIn">
                                {% url 'service:home' as href %}
             
                                {% include "includes/indicator_close_button.html" with data='the service' href=href %}
                                

                                <div class="row d-flex">
                                    <div class="col-lg-8 d-flex align-items-end">
                                        <div class="flex-fill">
                                            <h2 class="text-uppercase fs-3 fw-bold mb-3">{{ service.title }}</h2>
                                            <p class="fs-5 fw-normal lh-sm text-justify">{{ service.summary }}</p>
                                        </div>
                                    </div>
                                    <div class="col d-none d-lg-flex ">
                                        <div class="d-flex flex-fill justify-content-end align-items-center">
                                            <img src="{{profile.extra_images.blog_single_top}}" height="150px" alt="creative web design service" loading="lazy" width="auto">
                                            {{view_count}}
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center align-items-start p-2 p-lg-3">
                                    <div class="col-12 mt-0 mb-3 px-0">
                                        <div class="card border-0 flex-fill w-100 rounded-bottom-5">
                                            <img class="img-fluid card-img-top w-100 d-block rounded-top-5" src="{{ service.main_image.url }}" loading="lazy" width="100%" height="auto" alt="service image">
                                            <div class="card-body bg-info rounded-bottom-5">

                                                {{ service.body|safe }}
                                                
                                                <div class="row mt-5">
                                                    <div class="col">
                                                        <h2 class="fs-3 fw-bold side-block-title">My Skills in {{ service.title }}:</h2>
                                                        <div class="row gx-2 gy-2">
                                                            {% for skill in service.skills.all %}
                                                            {% bg_class as color_class %}    
                                                            <div class="col-sm-6 col-md-4 col-lg-3 d-flex">
                                                                
                                                                <div class="card {{color_class.bgcolor}} {{color_class.bordercolor}} flex-fill w-100 rounded-5 cardeffectEx">
                                                                    <div class="card-body text-center">
                                                                        <!-- from https://www.svgrepo.com/ -->

                                                                        <img src="{% if skill.icon_image %}{{skill.icon_image.url}} {% endif %}" width="64px" height="64px" class="img-fluid">

                                                                        <h5 class="text-uppercase fs-5 fw-bolder {{color_class.textcolor}} card-title py-2">{{ skill.name }}</h5>
                                                                        <div>
                                                                            <p class="text-uppercase fs-5 {{color_class.textcolor}} lh-sm mb-0 mt-4">skill lavel</p>
                                                                            <p class="text-uppercase fs-5 fw-bold {{color_class.textcolor}} lh-sm">{{ skill.skill_percent }}%</p>
                                                                        </div>
                                                                        <div class="progress">
                                                                            <div class="progress-bar {{color_class.linkbgcolor}} progress-bar-striped" aria-valuenow="{{ skill.skill_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ skill.skill_percent }}%;">
                                                                                <span class="visually-hidden">{{ skill.skill_percent }}%</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            {% endfor %}


                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 rounded-5 mt-0 mb-3">
                                        <div class="row">
                                            <div class="col-12 p-0">
                                                {% include "includes/learning_curves.html" %}
                                            </div>
                                        </div>
                                    </div>

                                    {% include "includes/share_code.html" %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End: content section -->
        

{% endblock %}
