{% load static %}
{% load common %}

{% bg_class as color_class %}  

<!-- Start: My Learning Curves -->
<div class="card {{color_class.bgcolor}} {{color_class.bordercolor}} flex-fill w-100 rounded-4">
    <div class="card-body position-relative my-background-pic">
        <h5 class="text-uppercase fs-5 fw-bolder {{color_class.textcolor}} card-title side-block-title">my learnng curves</h5>
        <div>
            <p class="fs-6 fw-light {{color_class.textcolor}} lh-sm text-justify">{{profile.education_header}}</p>
            <p class="text-uppercase fs-6 fw-bold {{color_class.textcolor}} lh-sm">Key Qualifications:</p>
            <ul class="fs-6 fw-light {{color_class.textcolor}} lh-sm offset-1">
                {% for qualification in qualifications %}
                <li class="text-justify">
                    <span class="fw-bold">{{qualification.title}}:&nbsp;</span>
                    <span class="fw-normal text-justify">{{qualification.body}}</span>
                </li>
                {% endfor %}                                                             
            </ul>
        </div>
        <p class="fs-6 fw-light {{color_class.textcolor}} card-text lh-sm text-justify">{{profile.education_footer}}</p>
    </div>
</div>
<!-- End: My Learning Curves -->